<div class="container">
	<div class="row">
		<h2>User info</h2>
		<table class="table">
				
			<tbody>
				<tr>
					<th>name</th>
					<td>data</td>
				</tr>
				<tr>
					<th>introduction</th>
					<td></td>
				</tr>
			</tbody>
		</table>
			
		</table>
	</div>
</div>